
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<!-- Alert Message -->

<div class="alert alert-success alert-dismissible fade show" id="successalertBox" role="alert">
    <strong>@TempData["alertMsg"]</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-warning alert-dismissible fade show" id="warningalertBox" role="alert">
    <strong>@TempData["alertMsg"]</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-danger alert-dismissible fade show" id="dangeralertBox" role="alert">
    <strong>@TempData["alertMsg"]</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>